.theme-greenish {
    --color-a: 46, 52, 64;
    --color-b: 59, 66, 82;
    --color-c: 67, 76, 94;
    --color-d: 76, 86, 106;
    --highlight-a: 143, 188, 187;
    --highlight-b: 136, 192, 208;
    --highlight-c: 129, 161, 193;
    --highlight-d: 94, 129, 172;
  }
  
  .theme-nordic {
    --color-a: 46, 52, 64;
    --color-b: 59, 66, 82;
    --color-c: 67, 76, 94;
    --color-d: 76, 86, 106;
    --highlight-a: 143, 188, 187;
    --highlight-b: 136, 192, 208;
    --highlight-c: 129, 161, 193;
    --highlight-d: 94, 129, 172;
  }
  
  .theme-pastel {
    --color-a: 212, 191, 255;   /* Lavender */
    --color-b: 255, 179, 186;   /* Pastel Red */
    --color-c: 255, 218, 193;   /* Peach */
    --color-d: 192, 226, 218;   /* Mint */
    --highlight-a: 98, 54, 166; /* Dark Purple */
    --highlight-b: 198, 57, 57; /* Dark Red */
    --highlight-c: 232, 106, 76; /* Dark Orange */
    --highlight-d: 0, 140, 114; /* Dark Green */
    /* --highlight-a: 149, 120, 232; /* Dark Lilac */
    /* --highlight-b: 255, 102, 102; /* Coral */
    /* --highlight-c: 255, 159, 127; Salmon */
    /* --highlight-d: 0, 204, 153; Teal */
  }
  
  .theme-neon {
    --color-a: 255, 0, 255;   /* Dark Lilac */
    --color-b: 255, 0, 0;     /* Coral */
    --color-c: 0, 0, 255;     /* Salmon */
    --color-d: 0, 255, 0;     /* Teal */
    --highlight-a: 98, 54, 166; /* Dark Purple */
    --highlight-b: 22, 25, 136; /* Dark Red */
    --highlight-c: 232, 106, 76; /* Dark Orange */
    --highlight-d: 0, 140, 114; /* Dark Green */
  }