@tailwind base;
@tailwind components;
body {
    background-color: #2e3440; /* Replace with your desired color */
  }
@layer components {
  .theme-nordic {
      --color-a: 46 52 64;
      --color-b: 59 66 82;
      --color-c: 67 76 94;
      --color-d: 76 86 106;
      --highlight-a: 143 188 187;
      --highlight-b: 136 192 208;
      --highlight-c: 129 161 193;
      --highlight-d: 94 129 172;
      --chip-a1: 65 105 225;
      --chip-a2: 224 180 65;
      --chip-b1: 102 51 153;
      --chip-b2: 152 153 50;
  
  }
}

@layer components {
  .theme-woodland {
    --color-a: 216 227 193;    /* Light Green */
    --color-b: 195 209 171;    /* Mid Green */
    --color-c: 176 191 150;    /* Dark Green */
    --color-d: 157 172 132;    /* Deep Green */
    --highlight-a: 98 113 82;  /* Dark Green */
    --highlight-b: 87 101 74;  /* Deep Green */
    --highlight-c: 76 88 65;  /* Dark Green */
    --highlight-d: 66 77 56;  /* Very Deep Green */
    --chip-a1: 65 105 225;
    --chip-a2: 224 180 65;
    --chip-b1: 102 51 153;
    --chip-b2: 152 153 50;
  }
}

@tailwind utilities;
